.wrapper{
    max-width: 250px;
    max-height: 200px;
    border: 1px dotted lightgrey;
    display:flex;
    flex-direction: column;
    margin: auto;
    margin-top: 15%;
    padding: 20px 40px;
    border-radius: 15px;;
    justify-content: center;
}

h2{
    margin: 5px;
}

.center-text{
    text-align: center;
}

.line-item{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.line-item button{
    margin: 0 5px;
    width: 65px;
    height: 25px;
}

#lbl-username{
    flex: 1;
    padding-right: 15px;
}

#username{
    flex: 1;
}

